<header class="site-header">
  <nav class="nav-container">
    <a href="{{ site.baseurl }}/" class="logo">
      <span class="logo-main">NovaLife Medica</span>
      <span class="logo-sub">Fertility & Reproductive Consultants</span>
    </a>
    <ul class="nav-links">
      <li><a href="{{ site.baseurl }}/about">About</a></li>
      <li><a href="{{ site.baseurl }}/consultation">Consultation</a></li>
      <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
      <li><a href="{{ site.baseurl }}/consultation" class="nav-cta">Book a Call</a></li>
    </ul>
  </nav>
</header>
